body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.linkFont {
  font-family: Tahoma, sans-serif;
  font-weight: bold;
  font-size: 1.5em;
  color: rgb(1, 4, 1);
  text-shadow: 2px 2px red;
}

.gradient-text {
  background-image: linear-gradient(180deg, #ea2424, #000000, #ea2424);
  background-clip: text;
  color: transparent;
}